*
{
    margin: 0;
    padding: 0;
}
body
{
    width: 1500px;
    height: 500px;
    background-color: rgb(214, 127, 255);
}
#cabecera
{
    width: 100%;
    height: 300px;
    background-color: rgb(214, 127, 255);
}
    #c1
    {
        width: 22%;
        height: 300px;
        background-color: rgb(4, 173, 173);
        display: inline-block;
        margin: 0px -4;
    }
    #c2
    {
        width: 22.3%;
        height: 300px;
        background-color: rgb(4, 105, 105);
        display: inline-block;
        margin: 0px -4px;
    }
    #c3
    {
        width: 23%;
        height: 300px;
        background-color: rgb(139, 236, 236);
        display: inline-block;
        margin: 0px -4;
    }
    #c4
    {
        width: 23%;
        height: 300px;
        background-color: rgb(6, 133, 133);
        display: inline-block;
        margin: 0px;
    }
#hombros
{
    width: 1342px;
    height: 250px;
    background-color: rgb(214, 127, 255);
    text-align: center;
}
    #circulo
    {
        width: 200px;
        height: 200px;
        background-color: rgb(132, 245, 128);
        border-radius: 50%;
        display: inline-block;
        margin: 25px;
    }
#cuerpo
{
    width: 1342px;
    height: 500px;
    background-color: rgb(214, 127, 255);
    text-align: center;
}
    #r1
    {
        width: 300px;
        height: 500px;
        background-color: rgb(168, 5, 86);
        display: inline-block;
    }   
    #r2
    {
        width: 300px;
        height: 500px;
        background-color: rgb(207, 3, 105);
        display: inline-block;
    }
    #r3
    {
        width: 300px;
        height: 500px;
        background-color: rgb(238, 4, 121);
        display: inline-block;
    }
    #r4
    {
        width: 300px;
        height: 500px;
        background-color: rgb(243, 39, 141);
        display: inline-block;
    }
#pies
{
    width: 1342px;
    height: 200px;
    background-color: rgb(214, 127, 255);
    text-align: center;
}
    #fin1
    {
        width: 150px;
        height: 150px;
        background-color: rgb(42, 4, 59);
        border-radius: 50%;
        display: inline-block;
        margin: 20px;
    }
    #fin2
    {
        width: 350px;
        height: 100px;
        background-color: rgb(49, 236, 133);
        display: inline-block;
        margin: 40px 10px;
    }
    #fin3
    {
        width: 350px;
        height: 100px;
        background-color: rgb(49, 236, 133);
        display: inline-block;
        margin: 40px 10px;
    }
    #fin4
    {
        width: 150px;
        height: 150px;
        background-color: rgb(42, 4, 59);
        border-radius: 50%;
        display: inline-block;
        margin: 20px;
    }

    
.btn-volver
{
  display: inline-block;
  padding: 12px 30px;
  background-color: rgb(212, 96, 223);
  color: #fff;
  border-radius: 50px;
}